#body{
  background-image: url('book.png');
}

img
{
  border-radius: 5%;
  float: left;
  width:  200px;
  height: 200px;
  object-fit: cover;
}

.container-fluid
{
  text-align: center;
  color: whitesmoke;
  outline-color:darkolivegreen;
  outline-width: 5px;
  font-size: 50px;
  
  
}
#bookGenre
{
  text-align: center;
}
#submit
{
  text-align: center;
  margin: auto;
  position:relative;
  display: flex;
  
}

.container{
  float: left;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  width: 60%;
}
.book-info
{
  font-size: 20px;
  display: flex;
  flex-direction:inherit;
  /* max-width: 200px; */
  color: white;
  -webkit-text-stroke: 2px black;
  gap: 1em;
}

.bookContainer
{
  max-width: 200px;
  display: flex;
  flex-wrap: wrap;
  flex-direction:column;
  
}

